pre, code .hll {
  background-color: #49483e; }

pre, code {
  background: #272822;
  color: #f8f8f2; }

pre, code .c {
  color: #75715e; }

/* Comment */

pre, code .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */

pre, code .k {
  color: #66d9ef; }

/* Keyword */

pre, code .l {
  color: #ae81ff; }

/* Literal */

pre, code .n {
  color: #f8f8f2; }

/* Name */

pre, code .o {
  color: #f92672; }

/* Operator */

pre, code .p {
  color: #f8f8f2; }

/* Punctuation */

pre, code .cm, pre, code .cp, pre, code .c1, pre, code .cs {
  color: #75715e; }

/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */

pre, code .ge {
  font-style: italic; }

/* Generic.Emph */

pre, code .gs {
  font-weight: bold; }

/* Generic.Strong */

pre, code .kc, pre, code .kd {
  color: #66d9ef; }

/* Keyword.Constant */
/* Keyword.Declaration */

pre, code .kn {
  color: #f92672; }

/* Keyword.Namespace */

pre, code .kp, pre, code .kr, pre, code .kt {
  color: #66d9ef; }

/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */

pre, code .ld {
  color: #e6db74; }

/* Literal.Date */

pre, code .m {
  color: #ae81ff; }

/* Literal.Number */

pre, code .s {
  color: #e6db74; }

/* Literal.String */

pre, code .na {
  color: #a6e22e; }

/* Name.Attribute */

pre, code .nb {
  color: #f8f8f2; }

/* Name.Builtin */

pre, code .nc {
  color: #a6e22e; }

/* Name.Class */

pre, code .no {
  color: #66d9ef; }

/* Name.Constant */

pre, code .nd {
  color: #a6e22e; }

/* Name.Decorator */

pre, code .ni {
  color: #f8f8f2; }

/* Name.Entity */

pre, code .ne, pre, code .nf {
  color: #a6e22e; }

/* Name.Exception */
/* Name.Function */

pre, code .nl, pre, code .nn {
  color: #f8f8f2; }

/* Name.Label */
/* Name.Namespace */

pre, code .nx {
  color: #a6e22e; }

/* Name.Other */

pre, code .py {
  color: #f8f8f2; }

/* Name.Property */

pre, code .nt {
  color: #f92672; }

/* Name.Tag */

pre, code .nv {
  color: #f8f8f2; }

/* Name.Variable */

pre, code .ow {
  color: #f92672; }

/* Operator.Word */

pre, code .w {
  color: #f8f8f2; }

/* Text.Whitespace */

pre, code .mf, pre, code .mh, pre, code .mi, pre, code .mo {
  color: #ae81ff; }

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */

pre, code .sb, pre, code .sc, pre, code .sd, pre, code .s2 {
  color: #e6db74; }

/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */

pre, code .se {
  color: #ae81ff; }

/* Literal.String.Escape */

pre, code .sh, pre, code .si, pre, code .sx, pre, code .sr, pre, code .s1, pre, code .ss {
  color: #e6db74; }

/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */

pre, code .bp, pre, code .vc, pre, code .vg, pre, code .vi {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */

pre, code .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
